# env / secrets
.env
.env.local
.env.*.local

# dependencies
node_modules
node_modules/

# next build
.next
out

# TON/Tact build
build/
backend/dist/

# TypeScript
tsconfig.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# system
.DS_Store
